
input[type=submit]:hover {
    background-color: #0084ff;
}

.w3-black,.w3-hover-black:hover
{	
	color:#fff!important;
	background-color:#000!important
}
/*--------------------------------------------------*/

.outer-container{			/*contains whole chat system*/
		
width:1000px;
overflow-y: scroll;
height: 750px;
float: left;
overflow-x: hidden;
}
/*------------CHAT HISTORY---------------*/
	
	
.whole-page-div{
	position:relative;
	float:left;
	width:100vw;
	margin-top:100px;
	padding-left:0px;
}
	
	
.inner-page-div{
	margin-top: 44px;
    position: relative;
    float: left;
    margin-left: 300px;
    border: 1px solid #d7d7d7;
    box-shadow: 0px 0px 11px 0px #dedede;
}
.whole-div{
		height: auto;
		width: 1000px;
		position:relative;
		float: left;
		
}
	.outer-chat-container{
		margin:0 auto;
		padding-top:25px;
		height: auto;
		width: 1000px;
		border-radius: 23px;
		background-color: white;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	
			
		#question-text-area{
			max-width: 90%;
			height: auto;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 20px 20px 20px 5px;
			box-sizing: border-box;
			font-family: Tahoma, sans-serif;
			background-color: #F0F0F0;
			font-size:16px;
			margin-left:20px;
			display: inline-block;
		}
		
		#response-text-area{
			max-width: 90%;
			height: auto;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 20px;
			box-sizing: border-box;
			font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
			background-color: #0084ff;
			font-size:14px;
			margin-left:20px;
			display: inline-block;
			color: #fff;
			
		}
					
				
					
.inner-chat-container{
	margin-top:50px;
	
}
					
/*-------------------------NEW QUERY--------------------------------*/
	.new-query-container {
		
		height: auto;
		width: 1000px;
		background-color: white;
		margin:0 auto;
		bottom:49px;
		overflow-y: hidden;
		overflow-x: hidden;
			
	}

			/*contains the names ie QUERY and RESPONSE*/

/*contains the boxes where text is inserted*/
.query-box-div{
	/*outline: #00FF00 dotted thick;
	float:left;*/
	width:70%;
	height:30%;
	float: left;
}
	#query{
			width: 917px;
			height: auto;
			float: left;
			font-weight: 800;  
			font-family: Tahoma, sans-serif; 
			color:black;
			margin-left:1px;
			text-align: left;
			padding-left: 10px;
	}
	
	#fetch{
		font-size: 20px;
    width: 79px;
    margin-top: 0px;
    padding-top: 10px;
    height: 49px;
	}


.response-box-div{
	margin-top:50px;
	width:70%;
	height:30%;
	float:left;
			
}

* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}

body {
font-family: "Lato", sans-serif;
background-color: #F4511E;
margin-top: 0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
}



/*--------------------------------------------------------------*/


/* Dropdown Button */
.dropbtn {
	
    background-color: #212529;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: 10px;
    cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	font-size:30px;
	margin-right:3px
	
}
/*----------------------------------------------------------------*/

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
		background-color: #2980B9;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #ddd}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {display:block;}

/*----------------------------------------------------------------*/
/*POP up on new context CSS*/


.side-panel-topics{
	width: 450px;
    height: 800px;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
	
}
	/*pop up*/
	.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	
	
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
	margin-top:300px;
	margin-left:100px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
	width:35%;
	margin-top:150px
}

/* The Close Button on popup*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	margin-left:670px; 
	font-size:60px;
	padding-bottom:10px;
	display:none;
}
.contain_quey_modal{
	

}
/*----------------------------------------------------------------*/
/*  Button to choose context */
#choose_context{
	width:151px; 
	font-size:16px ;
	margin-left:230px;
	margin-top:10px;
	background-color:#0084ff 	
}

/*container to show new query*/
#query_new_context{
		width: 100%;
		height: 100px;
		font-size:18px;
		font-weight:700;
		background-color:#81818242;
		text-align: left;
		padding-left: 10px;
	}

.query_heading{
	margin-left: 220px;
    font-size: 26px;
    color: #0084ff;
    font-weight: 600;
}
	
.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}	

/*containers to list side panel topics*/	
.list_all_contexts{
	font-weight: 500;
    font-family: Tahoma, sans-serif;
    text-align: left;
    border: solid 1px #FFFFFF;
    width: 100%;
    height: 6%;
    margin: 0;
    background-color: #255786;
    color: white;
    cursor: pointer;
}

.list_all_contexts2{
	font-weight: 500; 
	font-family: Tahoma, sans-serif; 
	text-align:left; 
	border:solid 1px #FFFFFF;
	width:100%;height:6%;
	margin:0;
	background-color:#F5F5F5;
	color:black;
	cursor: pointer;
}

.show-contexts{
	margin-top: 50px;
    overflow: scroll;
    background-color: #F0F0F0;
    height: 837px;
}


.add-context-button{
	color:white;
	cursor: pointer;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 53px;
	width:450px; 
	background-color:#0c243e; 
	position: fixed;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    /*border-radius: .25rem;*/
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.add-context-button1{
	color:white;
	
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 53px;
	width:398px; 
	background-color:#0e3964; 
	position: fixed;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    /*border-radius: .25rem;*/
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-left: 50px;
	}

.add-context-button:hover, .add-context-button:focus {
		background-color: #072441;
	}
	
.myclass_show_all{
	width:977px; 
	height:50px; 
	font-weight: 800;
	position: fixed ;
	font-family: Tahoma, sans-serif; 
	text-align:center; border:solid 1px #FFFFFF ;
	height:5%; 
	margin:0;
	background-color:#255786;
	color:white;
}
