#header{
	text-align: center;
	color: yellow;
	height: 50px;
    width: 100%;
    background-color: olive;
}

#outer{
	
	align-content: center;
	height: 450px;
    width: 50%;
}


#logout{				/*for logout button*/
	width: 10%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	position: absolute;
    left: 1300px;
    top: 20px;
}

	


h1{	
text-align: center;
	color:Tomato;
}


input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}





.w3-black,.w3-hover-black:hover
{	
	color:#fff!important;
	background-color:#000!important
}
/*--------------------------------------------------*/

.outer-container{			/*contains whole chat system*/
		
width:1000px;
overflow-y: scroll;
height: 750px;
	
overflow-x: hidden;
}
/*------------CHAT HISTORY---------------*/
	
	
.whole-page-div{
	
	
	position:relative;
	float:left;
	width:100vw;
}
	
	
.inner-page-div{
	margin-top:44px;
	position:relative;
    float: left;
    margin-left: 300px;
    border: 1px solid #d7d7d7;
    box-shadow: 0px 0px 11px 0px #dedede;
}
.whole-div{
	
		height: auto;
		width: 1000px;
		position:relative;
}
	.outer-chat-container{
		margin:0 auto;
		padding-top:25px;
		height: auto;
		width: 1000px;
		border-radius: 23px;
		background-color: white;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	
			
		#question-text-area{
			
			max-width: 90%;
			height: auto;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 20px 20px 20px 5px;
			box-sizing: border-box;
			font-family: Tahoma, sans-serif;
			background-color: #F0F0F0;
			font-size:16px;
			margin-left:20px;
			display: inline-block;
		}
		
		#response-text-area{
			
			max-width: 90%;
			height: auto;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 20px;
			box-sizing: border-box;
			font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
			background-color: #0084ff;
			font-size:14px;
			margin-left:20px;
			display: inline-block;
			color: #fff;
			
		}
					
					
		.newscrollabletextbox{
		
		font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size: 82%;
		padding: 12px 20px;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		/*background-color:rgb(236,240,241);*/
		
		width: 80%;
		height: 150px;
		padding: 12px 20px;
		margin: 8px 0;
		border-radius: 20px;
		
		}			
					
					
					
					
					
					
					

/*-------------------------NEW QUERY--------------------------------*/
	.new-query-container {
		
		height: auto;
		width: 1000px;
		background-color: white;
		margin:0 auto;
		bottom:49px;
		overflow-y: hidden;
		overflow-x: hidden;
		
		
		
		
	}

			/*contains the names ie QUERY and RESPONSE*/

/*contains the boxes where text is inserted*/
.query-box-div{
	/*outline: #00FF00 dotted thick;
	float:left;*/
	width:70%;
	height:30%;
	 float: left;
	
}
		#query{
			width: 900px;
			height: auto;
			float: left;
			
		}
	
		#fetch{
			
			
		margin-top:10px;
		margin-left: 20px;
	}


.response-box-div{
	margin-top:50px;
	width:70%;
	height:30%;
	float:left;
			
}

	#response{				/*for response text box*/
		width: 80%;
		height: 150px;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 20px;
		box-sizing: border-box;
		}
		
		
	#rectangle{
    width:100%;
    height:260px;
    background:#3498DB;
	border-radius: 10px;
	padding-top:10px;
}




* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}

body {
font-family: "Lato", sans-serif;
background-color: #F4511E;
margin-top: 0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
}





input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
 
 /*
.fetch{
	
		border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	left:50px;
	
}*/

 
.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}


/*------------for side navigation panel----------------*/
.site-header{
	padding-top: 10px;
	background-color: white;
	border-left-width: 10px;
    padding-left: 15px;
    border-top-width: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
	
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 0px 0px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 30px;
}


/*--------------------------------------------------------------*/


/* Dropdown Button */
.dropbtn {
    background-color: #212529;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: 10px;
    cursor: pointer;
	border-radius: 5px;
	
display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  
	
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}








/*POP up on new context CSS*/


.side-panel-topics{
	width:450px;
	height:800px;
	float: left; 
	
	overflow-x: hidden;
	overflow-y: scroll; 
	
	position:relative;
	
}

.circle:before {
  content: ' \25CF';
  font-size: 60px;
}



	
	.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width:100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
	margin-top:300px;
	margin-left:100px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}	
#query_new_context{
			width: 100%;
			height: auto;
			font-size:18px;
			font-weight:700;
			background-color:#81818242
		}
