/******************** Normalize ********************/

*{text-decoration: none !important;}


progress,sub,sup {
	vertical-align: baseline;
}

button,hr,input {
	overflow: visible;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

figcaption,menu,article,aside,details,figure,footer,header,main,nav,section,summary {
	display: block;
}

audio,canvas,progress,video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],template {
	display: none;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,strong {
	font-weight: bolder;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

code,kbd,pre,samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

button,input,select,textarea {
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: 700;
}

button,input {
}

button,select {
	text-transform: none;
}

[type=submit],[type=reset],button,html [type=button] {
	-webkit-appearance: button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
	outline: ButtonText dotted 1px;
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	overflow: auto;
}

[type=checkbox],[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: .54;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/******************** Normalize ********************/

/******************** TYPOGRAPHY ********************/



h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: 300;
	line-height: 1.33;
}

h2 {
	font-size: 30px;
	font-weight: 300;
}

h3 {
	font-size: 22px;
	font-weight: 400;

}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 18px;
	line-height: 1.3;
}

h6 {
	font-size: 16px;
}

h4, h5, h6 {
	font-weight: 500;
}

@media (min-width: 768px) {
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 50px;
	}
}

p {
	margin-bottom: 20px;
}


/******************** TYPOGRAPHY ********************/



/******************** Base ********************/

.m-tb-50{
    margin: 50px auto;
}

.top-cover{
   padding: 1.5em 0px 8.5em 0px;
    /* background-image: url('../img/cat-pre-zon-tc.jpg'); */
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
}
.top-cover:before{
    content: "";
position: absolute;
/* background: rgba(51,122,183,0.5); */
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 0;
}

.cov-sec h1{
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.4rem;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin: 20px auto;
}


.cov-sec-p{
    color: #333;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: 500;
    line-height: 2.2;
    margin: 50px auto 30px auto;
}

.socal{
     visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s; transition: transform 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s; 
}

.piechart.active {
    opacity: 1;
}

.piechart {
    overflow: hidden;
}

.piechart {
    display: inline-block;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0);
   - border-radius: 100%;
    fill: #425cbb;
    position: relative;
    opacity: 0;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.piechart__overlay{
    transition: .3s !important;
}

.effets{
}

.piechart-3 .piechart__overlay {
    width: 100%;
    height: 100%;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25); */
}

.piechart .piechart__overlay {
    background: #fff;
    border-radius: 50%;
}
.piechart .piechart__overlay, .piechart .piechart__description {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    top: 50%; 
    left: 50%;
    line-height: .5;
    text-align: center;   
cursor: pointer;
    border-radius: 20px;
    background-size: 200%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.piechart__overlay:hover {
    background-size: 250% !important;
}

.piechart svg {
    overflow: visible;
}


.piechart-3 + h5 {
    margin-top: 1.625em;
}

hr{
    border-top-color: transparent !important;
    margin-top: 10px;
    margin-bottom: 10px;
}


.cen-text-pz{
    font-size: 132px;
    font-style: normal;
    font-weight: 900;
    color: #fff;
}


.pre-zon-cat-p p{
    line-height: 2;
    text-align: justify;
    margin: 20px auto;
    font-weight: 500;
} 

.section--overlap {
    padding-top: 0;
    position: relative;
    z-index: 2;
    margin-top: -6.5em;
}


.pz-h5-cd{
    color: #FFFFFF;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3px;
    font-size: 18px;
    margin: -16px -50px 16px -50px;
}

.pz-p-cd{
    margin: 40px -50px -10px -50px;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}


.piech1 > div {
    background-color:#F0669A !important;
    cursor: pointer;
    background-image: url('http://ims.bvcloud.net/Content/images/bg_sub-header.png') !important;
}




.piech2 > div {
    background-color:#4CA6FA !important;cursor: pointer;
    background-image: url('http://ims.bvcloud.net/Content/images/bg_sub-header.png') !important;
}




.piech3 > div {
    background-color:#FFA144 !important;cursor: pointer;
    background-image: url('http://ims.bvcloud.net/Content/images/bg_sub-header.png') !important;
}

.hidecon{
    display: none;
}

.showcon{
    display: grid;
}


.un-p-na{color: #fff;
    margin: 10px -50px 42px -50px;
    font-weight: 400;}

.btntag{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px !important;
    letter-spacing: 1px;
    font-weight: 600 !important;
    background-color: #344257;
    padding: 18px 34px !important;
    border-radius: 25px !important;
    line-height: 1 !important;
}

.btntag:hover{
    color: #fff !important;
}
/*
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
} */


@media (max-width: 1024px)
.section--overlap {
    padding-top: 6.5em;
    margin-top: 0;
}

@media (max-width: 767px)
.section--overlap {
    padding-top: 4.875em;
    margin-top: 0;
}




/******************** Base ********************/


/******************** Some Elements ********************/

.dly-300{
    animation-delay: 300ms
}
.dly-600{
    animation-delay: 600ms
}
.dly-900{
    animation-delay: 900ms
}



/******************** other Elements ********************/



/** Animations Starts **/
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/** Animations Ends **/




/** Back To Top - Start **/

.top:hover{
    opacity:1; 
    transition:1s;
}
.panel-default>.panel-heading {
    color: #fff !important;
    background-color: #0099DA    !important;
    border-color: #0099DA    !important;
}
.panel-heading > h4 > a{ font-size: 15px;
letter-spacing: 1px;
padding: 12px 0px;
font-weight: 600;
    color: #fff !important;
 }
/** Back To Top - Ends **/


.new-h4-tag{
    font-size: 22px;
    margin: 16px auto;
    padding: 12px 0px;
    font-weight: 600;
    color: #425cba;
    
}
@media (max-width: 992px){ .piechart { margin-bottom: 40px; } } 
