* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}


#logout{
	
	
	width: 10%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	position: absolute;
    left: 1300px;
    top: 20px;
		
}

.warning{
	color:red;
	background-color: #FFF;
	
}




body {
font-family: "Lato", sans-serif;
background-color: #F4511E;
margin-top: 0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
}


.outer_body{
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	
}


.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 40px;
border-radius: 5px;
width:510px;
}
 
.app-title {
text-align: center;
color: #777;
}
 
.login-form {
text-align: auto;
}
.control-group {
margin-bottom: 10px;
}
 
 .form-class{
	padding-top:40px; 
	 
 }


input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
 
 
 

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
 
.btn:hover {
  background-color: #2980B9;
}
 
.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}



.site-header{
	padding-top: 10px;
	background-color: white;
	border-left-width: 10px;
    padding-left: 15px;
    border-top-width: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
	
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 0px 0px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 30px;
}



