* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}



#warning{
	color:red;
	font-size:20px;
}



body {
font-family: "Lato", sans-serif;
background-color: #F4511E;
margin-top: 0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
}



.login-screen {
background-color: #FFF;
padding: 30px;
border-radius: 5px;
width:310px; 
height:320px; 
margin:0 auto;
}
 
.app-title {
text-align: center;
color: #777;
}
 
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
 
 .form-class{
	padding-top:40px; 
	 
 }

.login-field{
	font-size:18px; 
	font-weight:700;
} 
 
input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
 
.btn {
  border: 2px solid transparent;
  background-color:#2980B9 ;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  
}
 
.btn:hover {
  background-color: #0e4089;
}


