* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}

.warning{
	color:red;
	background-color: #FFF;
}
.button-success {
	  color: white;
	  border-radius: 4px;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	  background: rgb(28, 184, 65); /* this is a green */
	  }


body {
font-family: "Lato", sans-serif;
background-color: #F4511E;
margin-top: 0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
}


.outer_body{
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	
}


.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 30px;
border-radius: 5px;
width:310px; 
height:410px; 
margin:0 auto;

}
 
.app-title {
text-align: center;
color: #777;
}
 
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
 
 .form-class{
	padding-top:40px; 
	 
 }


input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
.btn {
  border: 2px solid transparent;
  background-color:#2980B9 ;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  
}
 
.btn:hover {
  background-color: #0e4089;
}


 
.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #212529;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 10px;
    cursor: pointer;
	border-radius: 5px;
	
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*///////////////////////////////////////////////*/

.login-field{
	font-size: 18px;
    font-weight: 700;
}

#animal-info{
	
	color:red; 
	font-size:20px;
	padding-top:12px;
}

