

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}

.w3-black,.w3-hover-black:hover
{	
	color:#fff!important;
	background-color:#000!important
}
/*--------------------------------------------------*/

.outer-container{			/*contains whole chat system*/
		
width:1000px;
overflow-y: scroll;
height: 747px;
overflow-x: hidden;
margin: 0 auto; 
margin-top:100px;
 margin-left:500px;
   border: 1px solid #d7d7d7;
 box-shadow: 0px 0px 11px 0px #dedede;
}
/*------------CHAT HISTORY---------------*/
	
	.outer-chat-container{
		margin:0 auto;
		padding-top:25px;
		height: auto;
		width: 1000px;
		border-radius: 23px;
		background-color: white;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: scroll;
		    border: 1px solid #d7d7d7;
    box-shadow: 0px 0px 11px 0px #dedede;
	}
		
		.newscrollabletextbox1{
		
		font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		padding: 12px 20px;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		width: 80%;
		padding: 12px 20px;
		margin: 8px 0;
		border-radius: 20px;
		margin-left:90px;
		height:49px; 
		font-size:16px;
		}			
			
		.newscrollabletextbox2{
		
		font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		
		padding: 12px 20px;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		
		width: 80%;
		padding: 12px 20px;
		margin: 8px 0;
		border-radius: 20px;
		margin-left:90px;
		font-size:15px;
		height:66px;
		}			
				

		
	#rectangle{
    width:100%;
    height:221px;
    background:#3498DB;
	border-radius: 10px;
	padding-top:9px;
}

* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}

body {
font-family: "Lato", sans-serif;
background-color: #F4511E;
margin-top: 0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
}


input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
 

/*--------------------------------------------------------------*/


/* Dropdown Button */
.dropbtn {
    background-color: #212529;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: 10px;
    cursor: pointer;
	border-radius: 5px;
	
	display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;	
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



.amybtn{
	height:50px;
}















	/*pop up*/
	.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	
	
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
	margin-top:300px;
	margin-left:100px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
	width:35%;
	margin-top:150px
}

/* The Close Button on popup*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	margin-left:670px; 
	font-size:60px;
	padding-bottom:10px;
}


.add-context-button{
	color:white;
	cursor: pointer;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 55px;
	width:450px; 
	background-color:#0e3964; 
	position: fixed;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#close-modal{
	width: 100px;
    margin-left: 278px;
}

.response_text{
	color: #3498DB;
    margin-left: 137px;
    font-weight: bold;
    font-size: 30px;
}