<html>
   <head>
      <title>Login page</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Bootstrap core CSS -->
      <link href="static/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="static/one-page-wonder.min.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
         
		 <div class="container">
            <a class="navbar-brand" href="{{url_for('main_page')}}">Home</a>
            <a class="navbar-brand" href="{{url_for('about_us')}}" style="padding-left: 20px;">About Us</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="{{url_for('home')}}">{{show_menu}} </a>
                  </li>
               </ul>
            </div>
         </div> 
      </nav>
	  
      <header class="masthead text-center text-white" style="height: 897px;">
         <div class="masthead-content">
            <div class="container">
               <h1 class="masthead-heading mb-0" style="margin-top: 100px;"> TechnoCatalyst</h1>
               <h2 class="masthead-subheading mb-0">
               <div style="margin:0 auto;font-size:30px; padding-top:31px">
                  Manish Gawali<br>
                  Mayank Gupta<br>
                  Surabhi Gujare<br>
                  Vaishnavi Kotawar<br>
               </div>
            </div>
         </div>
      </header>
      <footer class="py-5 bg-black">
         <div class="container">
            <p class="m-0 text-center text-white small">Team TechnoCatalyst</p>
         </div>
      </footer>
   </body>
</html>