	  
<html>
	  <head>
			<title>Login page</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="{{ url_for ('static',filename='chatbot.css') }}" rel="stylesheet" type="text/css" >			
			<script type = "text/javascript" src = "{{ url_for('static', filename = 'main2.js') }}" ></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	  </head>
	  
	  <body>
	  
		<script type="text/javascript">
			
		</script>	
		
		<header class="site-header">
			<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			 <a href="{{url_for('about_product')}}">About Product</a>
			 <a href="{{url_for('about_us')}}">About Us</a> 
			</div>
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>	 
			<h4><p align="center"><a id="logout" href = "{{url_for('logout') }}">Logout</a></p></h4>
		</header>
	  
			
		<div class="outer-chat-container">
		   <h2 style="text-align: center;  font-size:30px; font-weight: 700;">About Product</h2>
	
			<p style="text-align: justify; font-size: 24px;">
			<ul style="text-align: justify; font-size: 24px;"><li>
			Currently, companies need to create a separate team to address the user queries. This involves a lot of
			man-hours and companies have to invest heavily to maintain this support staff. Our project aims to
			reduce human intervention in customer support sector regarding the various products of a company.</li><br>
			<li>
			This system has the potential to address all sorts of user queries and rectify them in real time robustly.
			The system is self-learning and one doesn’t manually need to feed in the answers to every problem.
			With the help of this, companies can considerably save a lot of man-hours and can use its workforce in
			other areas.</li><br>
			<li>
			Our model uses natural language processing to analyze a user query and responds
			accordingly as close as possible to the solution. We will give the user manual as an
			input to our chatbot. This will serve as a source for the answers to the queries. Also,
			with the help of this system, companies it can give a 24 hour support which has a
			multiplicative effect on the revenue generation.</li><br>
			<li>This system can be scaled further so
			that multiple users can interact with the system concurrently and ask queries regarding
			multiple products at the same time. Currently, our model works best for English
			language. We can also add support for multiple languages in future for regional
			customers.<br>
			Thus the project proposes to automate the process of customer support by means of
			chatbot as it removes human intervention.</p>
			</li></ul>			 
			</div><br>				
				 
	  </body>
</html>
	  
	  
	  
	  