<html>
<head>
	<link rel="stylesheet" href="/static/download_PDF.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'main2.js') }}" ></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">			
</head>

<body>
	<header class="site-header">
		<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <a href="{{url_for('about_product')}}">About Product</a>
			  <a href="{{url_for('about_us')}}">About Us</a> 
 
		</div>
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
		
		<h4><p align="center"><a id="logout" href = "{{url_for('logout') }}">Logout</a></p></h4>
	</header>
	
		<div class="login">	
		{% if msg=="FILE UPLOADED" %}
		<script>run("FILE UPLOADED")</script>
		{% elif msg=="wrong file type..only PDF supported"%}
		<script>run("wrong file type..only PDF supported")</script>
		{% elif msg=="select a file"%}
		<script>run("select a file")</script>
		{% else %}
		{% endif %}
		
			<div class="login-screen" style="width:510px; height:auto; width:0 auto">
				<div class="app-title">
					<h1>UPLOAD PDF</h1>
				</div>
				
				<div class="container">
				<form method="POST" action="/upload" enctype="multipart/form-data">
					<div class="form-group">
						<input type="file" name="inputfile">
						<button id="button-success" style="margin-left:75px" type="submit">UPLOAD</button>
					</div>
					<br>
					<div id="warning" style="text-align:center;width:200px;margin:0 auto"></div>
					<br>
					
					<!--<a  style="margin-left:40px;" href = "{{ url_for('download') }}">DOWNLOAD FILES</a>-->
				</form>
				<hr>
				<!----------------------------------------------------------------------------------------------------------------------------->
				<!----------------------------------------------------------------------------------------------------------------------------->
				<!----------------------------------------------------------------------------------------------------------------------------->
				<div class="login-form" style="margin-left:50px;">
						<div class="app-title">
							<h1>CURRENT FILES</h1>
						</div>
					    
						  <table>
							 <thead>
								<tr>
								   <th>Id</th>
								   <th style="padding-left: 30px;">File Name</th>   
								</tr>
							 </thead>
							 <tbody>
								
								{% for doc in class_data %}
								   <tr>
									  <td style=";">{{ doc.id2 }}</td>
									  <td style="padding-left:50px;">{{ doc.file_name }}</td>
									  <!--<td><a href="{{ url_for('down_file', filename=doc.file_name) }}" style="width:100px;margin-left:74px;" >Download</a></td>	 -->
									  
									  <td> 
										<a href="{{ url_for('down_file', filename=doc.file_name) }}" class="btn btn-info btn-lg" style=" width: 24px; height: 25px;border-top-width: 0px;border-bottom-width: 0px; padding-top: 0px;margin-left:60px;   padding-bottom: 0px;">
										  <span class="fa fa-download"></span> 
										</a>
									  </td>
								   </tr>
								{% endfor %}
								
							 </tbody>
						  </table>
					
						<div id="warning"> </div>	
						<br>
					</div>
		</div>			
		</div>
		</div>
	
</body>
</html>






