<html>
   <head>
      <title>Chatbot</title>
      <link href="{{ url_for ('static',filename='chatbot2.css') }}" rel="stylesheet" type="text/css" >
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'main2_chatbot.js') }}" ></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
      <link rel="stylesheet" href="/static/main_page.css" type="text/css">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Bootstrap core CSS -->
      <link href="static/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="static/one-page-wonder.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <script type="text/javascript">
      $(document).ready(function() {
      	//-----------POP UP CONTEXT---------------------
      	var contextbtn=document.getElementById('choose_context');
      	contextbtn.onclick=function(){
      		var query_string=document.getElementById('query_new_context').value
      		
      		var send_data='&&__'.concat(query_string)
      		socket.send(send_data)
      		window.location.reload();
      		//alert(send_data)
      	}
      	var modal = document.getElementById('myModal');
      
      	// Get the button that opens the modal
      	var btn = document.getElementById("myBtn");
      
      	// Get the <span> element that closes the modal
      	var span = document.getElementsByClassName("close")[0];
      
      	// When the user clicks the button, open the modal 
      	btn.onclick = function() {
      		modal.style.display = "block";
      	}
      	
      	// When the user clicks on <span> (x), close the modal
      	span.onclick = function() {
      		modal.style.display = "none";
      	}
      
      	// When the user clicks anywhere outside of the modal, close it
      	window.onclick = function(event) {
      		if (event.target == modal) {
      			modal.style.display = "none";
      		}
      	}
      		
      
      	//-----------END OF POP UP CONTEXT---------------------
      	
      	var socket = io.connect('http://127.0.0.1:5000');
      			
      	socket.on('message', function(msg2) {
		//window.location.reload();
      		//alert(msg2)
			//$("#response-text-area").append( msg2 );
			
			var ss = msg2.split("_");  
			for (var i in ss) {  
				//console.log(ss[i]);  
				//console.log("<br/>");  
			}
			
			$('.scrollabletextbox').each(function( index ) {
			  //console.log( index + ": " + $( this ).text() );
			  if($( this ).text()==ss[1])
			  {
			  $($( this ).text()).text(ss[2]);
			  //$($( this ).text()).append( msg2 );
			  console.log( index + ": " + $( this ).text() );
			  //alert("yolodvdv")}
			  //console.log("hi"+$( this ).text())
			  //console.log("bi"+msg2)
			});
			
			
      	});
		
      	$('#fetch').on('click', function() {
      		if($('#query').val()==""){
      		alert("Enter a message")
      		}
      		else{
      		socket.send($('#query').val());
      		window.location.reload();
      		}
      	});
      	
      	$('#clear_f').on('click', function() {
      		$('#query').val('');
      		$('#response').val('')
      	});	
      
      
      	$('[id^=context_').on('click', function() {
      		var matches = this.id.match(/\d+$/);					
      		var id_str="context_".concat(matches[0])
      		
      		var context_id = '#'+id_str;
      		var send_context_name='@@__'.concat($(context_id).val()).concat("__").concat(id_str)
      		socket.send(send_context_name);
      		window.location.reload();
      	});	
      
      $("[data-js=open]").on("click", function() {
      	popupOpenClose($(".popup"));
      });
      });
      					
   </script>	 
   <body>
      <!-- NAV FOR SHOWING HEADER CONTROLS-->
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
         <div class="container">
            <a class="navbar-brand" href="{{url_for('main_page')}}">Home</a>
            <a class="navbar-brand" href="{{url_for('about_us')}}" >About Us</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn"><i class="fa fa-user" ></i> {{ username_show }}</button>
                        <div id="myDropdown" class="dropdown-content">
                           <a href="{{url_for('logout')}}">Logout</a>	
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      <div class="whole-page-div" >
         <div class="inner-page-div">
            <!-- DIV FOR SHOWING SIDE PANEL-->
            <div class="side-panel-topics" >
               <!-- Trigger/Open The Modal/POP UP FOR ADDING CONTEXT -->
			   <div>
               <button class="add-context-button" id="myBtn">+Add Context</button>
			   </div>
               <div class="show-contexts">
                  {% for context in myContext %}
                  {% if context|string()== display_current_context|string() %}
                  <input class="list_all_contexts" type="submit" id="context_{{loop.index}}" value="{{context}}" style="padding-left:10px">
                  {%else%}
                  <input class="list_all_contexts2" type="submit" id="context_{{loop.index}}" value="{{context}}"style="padding-left:10px">
                  {% endif %}
                  <br>
                  {%endfor%}
               </div>
               <!-- The Modal/POP UP -->
               <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content" style="width:35%">
					<div class="contain_quey_modal">
						<div class="query_heading">Enter your query</div>
						<span class="close">&times;</span>
					</div>
                     <input id="query_new_context" type="text" placeholder="" >
                     <div> <button id="choose_context" class="btn btn-default" > ADD</button></div>
                  </div>
               </div>
            </div>
            <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <!-- DIV FOR SHOWING CHATBOT SCREEN -->
            <div class="whole-div" >
               <div class="outer-container"  >
                  <input class="myclass_show_all" type="submit"  value="{{display_current_context}}">
                  <div class="outer-chat-container" onload="setscroll()" >
                     <div class="inner-chat-container"  onload="setscroll()">
                        {% for chat in context_specific_chat %}
                        <div class="scrollabletextbox" id="question-text-area"  name="note" readonly >{{chat.ques}}</div>
                        <br>
                        <div class="scrollabletextbox" id="response-text-area"  name="note" readonly >{{chat.ans}}</div>
                        <br>
                        <hr>
                        {%endfor%}
                     </div>
                  </div>
               </div>
               <br>
               <!-- DIV FOR ENTERING NEW QUERY-->
               <div class="new-query-container" >
                  <input id="query" type="text" placeholder="Enter your query"  >
				   
                  <div> <button id="fetch" class="dropbtn"> Send</button></button></div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>