<!DOCTYPE html>
<html lang = "en">
   <head>
		<link rel="stylesheet" href="/static/download_PDF.css" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'main2.js') }}" ></script>
   </head>
   <body>
	   <header class="site-header">
			<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			   <a href="{{url_for('about_product')}}">About Product</a>
			  <a href="{{url_for('about_us')}}">About Us</a> 
  
			</div>
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
		</header>

  
		<div class="login">
		
			{% if msg=="wrong credentials" %}
			<script>run("Wrong credentials")</script>
			{% elif msg=="Wrong char length"%}
			<script>run("Min length:8 characters")</script>
			{% else %}
			{% endif %}
		
				<div class="login-screen">
					<div class="app-title">
						<h1>Uploaded Files</h1>
					</div>
				
					<div class="login-form">
					    
						  <table>
							 <thead>
								<tr>
								   <th>Id</th>
								   <th style="padding-left: 30px;">File Name</th>   
								</tr>
							 </thead>
							 
							 <tbody>
								
								{% for doc in class_data %}
								   <tr>
									  <td style=";">{{ doc.id2 }}</td>
									  <td style="padding-left:50px;">{{ doc.file_name }}</td>
									  <!--<td><a href="{{ url_for('down_file', filename=doc.file_name) }}" style="width:100px;margin-left:74px;" >Download</a></td>	 -->
									  
									  <td> 
										<a href="{{ url_for('down_file', filename=doc.file_name) }}" class="btn btn-info btn-lg" style=" width: 24px; height: 25px;border-top-width: 0px;border-bottom-width: 0px; padding-top: 0px;margin-left:60px;   padding-bottom: 0px;">
										  <span class="fa fa-download"></span> 
										</a>
									  </td>
									  
									  <!--<td><input type="submit" style="width:100px;margin-left:74px;" value="Download"></td>  -->
								   </tr>
								{% endfor %}
								
								
							 </tbody>
						  </table>
					
						<div id="warning"> </div>	
						<br>
					</div>
				</div>
		</div>

	 
  
      
   </body>
</html>






