<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Chatbot</title>
      <!-- Bootstrap core CSS -->
      <link href="static/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="static/one-page-wonder.min.css" rel="stylesheet">
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
         <div class="container">
            <a class="navbar-brand" href="{{url_for('main_page')}}">Home</a>
            <a class="navbar-brand" href="{{url_for('about_us')}}" style="padding-left: 20px;">About Us</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="{{url_for('home')}}">{{show_menu}} </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <header class="masthead text-center text-white">
         <div class="masthead-content">
            <div class="container">
               <h1 class="masthead-heading mb-0"> The Chatbot</h1>
               <h2 class="masthead-subheading mb-0">For All Your Queries!</h2>
               <!--<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>-->
            </div>
         </div>
      </header>
      <section>
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                     <img class="img-fluid rounded-circle" src="static/01.jpg" alt="">
                  </div>
               </div>
               <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                     <h2 class="display-4">Instant results...</h2>
                     <p>We will resolve all your queries within seconds regarding all the products!</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6">
                  <div class="p-5">
                     <img class="img-fluid rounded-circle" src="static/02.jpg" alt="">
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="p-5">
                     <h2 class="display-4">24x7 Support...</h2>
                     <p>Get in touch with our round the clock support team that will assist you with all your queries</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                     <img class="img-fluid rounded-circle" src="static/03.jpg" alt="">
                  </div>
               </div>
               <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                     <h2 class="display-4">Chat anytime with our chatbot!</h2>
                     <p>Our chatbot gives detailed resolutions to all your problems! No worries!</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Footer -->
      <footer class="py-5 bg-black">
         <div class="container">
            <p class="m-0 text-center text-white small">Team TechnoCatalyst</p>
         </div>
         <!-- /.container -->
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="static/jquery.min.js"></script>
      <script src="static/bootstrap.bundle.min.js"></script>
   </body>
</html>