<head>
   <link rel="stylesheet" href="/static/login_page2.css" type="text/css">
   <script type = "text/javascript" src = "{{ url_for('static', filename = 'main2.js') }}" ></script>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <title>Login</title>
   <!-- Bootstrap core CSS -->
   <link href="static/bootstrap.min.css" rel="stylesheet">
   <!-- Custom fonts for this template -->
   <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="static/one-page-wonder.min.css" rel="stylesheet">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
         <a class="navbar-brand" href="{{url_for('main_page')}}">Home</a>
         <a class="navbar-brand" href="{{url_for('about_us')}}" style="padding-left: 20px;">About Us</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <header class="masthead text-center text-white" style="height:897px ">
      <form action="/login" class="form-class" method="POST">
         <script type = "text/javascript" src = "{{ url_for('static', filename = 'main2.js') }}" ></script>
         <div class="login">
            {% if msg=="wrong credentials" %}
            <script>run("Wrong credentials")</script>
            {% elif msg=="Wrong char length"%}
            <script>run("Min length:5 characters")</script>
            {% else %}
            {% endif %}
            <div class="login-screen" >
               <div class="app-title">
                  <h1>Login</h1>
               </div>
               <div class="login-form">
                  <div class="control-group">
                     <input type="text" class="login-field" value="" placeholder="Username" name="username" >
                     <label class="login-field-icon fui-user" for="login-name"></label>
                  </div>
                  <div class="control-group">
                     <input type="password" class="login-field" value="" placeholder="Password" name="password" >
                     <label class="login-field-icon fui-lock" for="login-pass"></label>
                  </div>
                  <input type="submit" value="Log in" class="btn"  >
                  <br>
                  <div id="warning" > </div>
                  <br>
               </div>
            </div>
         </div>
      </form>
   </header>
   
   
    <footer class="py-5 bg-black">
         <div class="container">
            <p class="m-0 text-center text-white small">Team TechnoCatalyst</p>
         </div>
      </footer>
</body>