	  
<html>
	 <head>
		<link rel="stylesheet" href="/static/admin_register_button_page.css" type="text/css">
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'registration_page.js') }}" ></script>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Register</title>
		<!-- Bootstrap core CSS -->
		<link href="static/bootstrap.min.css" rel="stylesheet">
		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="static/one-page-wonder.min.css" rel="stylesheet">  
		
	</head>
	  
	<body>
		  
		<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
		  <div class="container">
			<a class="navbar-brand" href="{{url_for('main_page')}}">Home</a>
			<a class="navbar-brand" href="{{url_for('about_us')}}" style="padding-left: 20px;">About Us</a>
				 
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarResponsive">
				  <ul class="navbar-nav ml-auto">
					<li class="nav-item">
					
						<div class="dropdown">
						  <button onclick="myFunction()" class="dropbtn">Admin</button>
						  <div id="myDropdown" class="dropdown-content">
							
							<a href="{{url_for('logout')}}">Logout</a>	
						  </div>
						</div>
					 </li>
				  </ul>
			</div>
			
		  </div>
		</nav>
		
		<header class="masthead text-center text-white" style="height: 897px;">
			<a id="reg_user"href="{{url_for('new_reg')}}" >Register</a>	
		</header>
				
		</div>	

		<!-- Footer -->
		<footer class="py-5 bg-black">
		  <div class="container">
			<p class="m-0 text-center text-white small">Team TechnoCatalyst</p>
		  </div>
		  <!-- /.container -->
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="static/jquery.min.js"></script>
		<script src="static/bootstrap.bundle.min.js"></script>
	</body>
</html>
	  
	  
	  
	  