  
<html>
	  <head>
			 <head>
			<title>Support Team</title>
			<link href="{{ url_for ('static',filename='support_page.css') }}" rel="stylesheet" type="text/css" >			
			<script type = "text/javascript" src = "{{ url_for('static', filename = 'main2.js') }}" ></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
			
			<link rel="stylesheet" href="/static/main_page.css" type="text/css">
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<meta name="author" content="">
			
			<!-- Bootstrap core CSS -->
			<link href="static/bootstrap.min.css" rel="stylesheet">
			<!-- Custom fonts for this template -->
			<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

			<!-- Custom styles for this template -->
			<link href="static/one-page-wonder.min.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			
	  </head>
	  </head>
	  <body>
	  
		<script type="text/javascript">
						
			$(document).ready(function() {
			
			//-----------------------MODAL CODE-------------------------------
			
						
			var modal = document.getElementById('myModal');
      
			// Get the button that opens the modal
			var btn = document.getElementById("myBtn");
		  
			var closebtn=document.getElementById("close-modal")
			
			// When the user clicks on <span> (x), close the modal
			closebtn.onclick = function() {
				modal.style.display = "none";
				window.location.reload();
			}
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
			//-----------------------MODAL CODE-------------------------------
			
				var socket = io.connect('http://127.0.0.1:5000');
						
				socket.on('message', function(msg) {});
																
				$('[id^=reply_').on('click', function() {
					modal.style.display = "block";
					var matches = this.id.match(/\d+$/);					
					var id_str="id_".concat(matches[0])
					var ques_str="question_query_".concat(matches[0])
					var answer_str="response_".concat(matches[0])
					
					var answer_id = '#'+answer_str;
					var question_id='#'+ques_str;
					var send_all_data='##__'.concat(id_str).concat("__").concat($(question_id).val()).concat("__").concat($(answer_id).val());
										
					socket.send(send_all_data);
				});	

				$('[id^=mark_invalid_').on('click', function() {
					modal.style.display = "block";
					var matches = this.id.match(/\d+$/);					
					var id_str="id_".concat(matches[0])
					var ques_str="question_query_".concat(matches[0])
					var question_id='#'+ques_str;
					var send_all_data='##__'.concat(id_str).concat("__").concat($(question_id).val()).concat("__").concat("Invalid Question");
										
					socket.send(send_all_data);
					
				});	
			});
		</script>	
			<!-- NAV FOR SHOWING HEADER CONTROLS-->
			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
				<div class="container">
					<a class="navbar-brand" href="{{url_for('main_page')}}">Home</a>
					<a class="navbar-brand" href="{{url_for('about_us')}}" style="padding-left: 20px;">About Us</a>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
				
					<div class="collapse navbar-collapse" id="navbarResponsive">
					  <ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<div class="dropdown">
							  <button onclick="myFunction()" class="dropbtn"><i class="fa fa-user" style="font-size:30px; margin-right:3px"></i> Support Team</button>
							  <div id="myDropdown" class="dropdown-content">
								<a href="{{url_for('logout')}}">Logout</a>	
							  </div>
							</div>
						</li>
					  </ul>
					</div>		
			  </div>
			</nav>
	  
	   
				<div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content" style="width:26%">
                     <div class="response_text">Response Sent</div>
					 <br>
                     <div> <button id="close-modal" class="btn btn-default" style=" width: 100px;margin-left: 190px;"> OK</button></div>
                  </div>
               </div>	  
	  
	    <div class="outer-container" >
			<div class="outer-chat-container" >
				<div class="inner-chat-container">
					{% for chat in myChat %}
						<div id="rectangle">
							<textarea class="newscrollabletextbox1"  id="question_query_{{chat.id}}" readonly>{{chat.question}}</textarea>
							<textarea class="newscrollabletextbox2"  id="response_{{chat.id}}" >{{chat.answer}}</textarea>
							<input class="btn btn-default" type="submit" id="reply_{{chat.id}}" style="margin-left:200px;height:44px;width:150px;" value="Reply">
							<input class="btn amybtn" type="submit" id="mark_invalid_{{chat.id}}" style="margin-left:200px;height:44px;width:150px;" value="Mark Invalid"><br>					
						</div>
						<hr>
					{%endfor%}
				</div>
			</div>
			<hr>			 
		</div>
		
		
		<footer class="py-5 bg-black" style="margin-top: 50px;">
			<div class="container">
				<p class="m-0 text-center text-white small">Team TechnoCatalyst</p>
			</div>
		</footer>			
	  </body>
</html>
	  
	  
	  
	  